In [2]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

In [3]:
df_transactions = pd.DataFrame(transactions)
df_transactions

   transaction_id  product_id  amount
0               1         101       3
1               2         102       5
2               3         103       8
3               4         104       3
4               5         105       2

In [5]:
df_products = pd.DataFrame(products)
df_products

   product_id  price
0         101   20.0
1         102   21.0
2         103   15.0
3         104   16.0
4         105   52.0

In [ ]:
# Write a function to return a dataframe containing every transaction with a total value of over $100. Include the total value of the transaction as a new column in the dataframe.

In [8]:
df_merged = pd.merge(df_transactions, df_products, on='product_id')
df_merged['total value'] = df_merged['amount'] * df_merged['price'] 
df_merged = df_merged[df_merged['total value'] > 100]
df_merged

   transaction_id  product_id  amount  price  total value
1               2         102       5   21.0        105.0
2               3         103       8   15.0        120.0
4               5         105       2   52.0        104.0

In [9]:
def trans_over_100(df_trans, df_prod):
    df_merged = pd.merge(df_trans, df_prod, on='product_id')
    df_merged['total value'] = df_merged['amount'] * df_merged['price'] 
    df_merged = df_merged[df_merged['total value'] > 100]
    return df_merged

In [10]:
trans_over_100(df_transactions, df_products)

   transaction_id  product_id  amount  price  total value
1               2         102       5   21.0        105.0
2               3         103       8   15.0        120.0
4               5         105       2   52.0        104.0