In [ ]:
#  write a Python function that takes the data list as input and returns a new list of dictionaries. The new list should contain unique fruits only, and the count of each fruit should be the sum of counts in the original list:
        
# [
# {'fruit': 'apple', 'count': 8},
# {'fruit': 'banana', 'count': 10},
# {'fruit': 'orange', 'count': 10},
# {'fruit': 'kiwi', 'count': 10}
# ]

In [1]:
data = [
    {'fruit': 'apple', 'count': 5},
    {'fruit': 'banana', 'count': 4},
    {'fruit': 'orange', 'count': 10},
    {'fruit': 'kiwi', 'count': 6},
    {'fruit': 'apple', 'count': 3},
    {'fruit': 'banana', 'count': 6},
    {'fruit': 'kiwi', 'count': 4}
]

In [5]:
data[0]['fruit']

'apple'

In [7]:
import pandas as pd

data_df = pd.DataFrame(data)
data_df

    fruit  count
0   apple      5
1  banana      4
2  orange     10
3    kiwi      6
4   apple      3
5  banana      6
6    kiwi      4

In [13]:
agg_data_df = data_df.groupby(['fruit']).sum().reset_index()
agg_data_df

    fruit  count
0   apple      8
1  banana     10
2    kiwi     10
3  orange     10

In [22]:
output_list = []

for i in range(agg_data_df.shape[0]):
    output_list.append(agg_data_df.iloc[i].to_dict())

In [23]:
output_list

[{'fruit': 'apple', 'count': 8},
 {'fruit': 'banana', 'count': 10},
 {'fruit': 'kiwi', 'count': 10},
 {'fruit': 'orange', 'count': 10}]