Youâ€™re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over $100. Include the total value of the transaction as a new column in the dataframe.

In [2]:
import pandas as pd

In [3]:
transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}
df_transactions = pd.DataFrame(transactions)
df_transactions

   transaction_id  product_id  amount
0               1         101       3
1               2         102       5
2               3         103       8
3               4         104       3
4               5         105       2

In [4]:
products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}
df_products = pd.DataFrame(products)
df_products

   product_id  price
0         101   20.0
1         102   21.0
2         103   15.0
3         104   16.0
4         105   52.0

In [11]:
def under_100 (df_trans, df_prod):
    df_trans['trans_value'] = df_prod[df_prod.product_id == df_trans.product_id].price * df_trans.amount
    return df_trans[df_trans.trans_value > 100]

In [12]:
under_100(df_transactions, df_products)

   transaction_id  product_id  amount  trans_value
1               2         102       5        105.0
2               3         103       8        120.0
4               5         105       2        104.0