Book Availability Update

As a Python-proficient librarian, you’re building a system to check the availability of book copies more efficiently.

Write a function update_availability to update the copies_available value for a specific book_id in your dataframe and return the updated dataframe.

Note: If you can’t find the book_id, return the original dataframe without any changes.

In [1]:
import pandas as pd

In [29]:
data = {
    'book_id': [0, 1, 2, 3, 4],
    'book_title': ['Moby Dick', '1984', 'To Kill a Mockingbird', 'The Great Gatsby', 'Pride and Prejudice'],
    'copies_available': [5, 7, 3, 2, 10]
}

input_df = pd.DataFrame(data)

input_df

   book_id             book_title  copies_available
0        0              Moby Dick                 5
1        1                   1984                 7
2        2  To Kill a Mockingbird                 3
3        3       The Great Gatsby                 2
4        4    Pride and Prejudice                10

In [30]:
def update_availability(book_id, copies, df_books):
    
    if not df_books[df_books.book_id == book_id].empty:
        df_books.loc[df_books.book_id == book_id, 'copies_available'] = copies
    else:
        print('no book id found')
        
    return df_books

In [31]:
update_availability(book_id=2, copies=8, df_books=input_df)

   book_id             book_title  copies_available
0        0              Moby Dick                 5
1        1                   1984                 7
2        2  To Kill a Mockingbird                 8
3        3       The Great Gatsby                 2
4        4    Pride and Prejudice                10

In [32]:
update_availability(book_id=7, copies=8, df_books=input_df)

no book id found

   book_id             book_title  copies_available
0        0              Moby Dick                 5
1        1                   1984                 7
2        2  To Kill a Mockingbird                 8
3        3       The Great Gatsby                 2
4        4    Pride and Prejudice                10