In [ ]:
# Youâ€™re given a dataframe df_rain containing rainfall data. The dataframe has two columns: day of the week and rainfall in inches.

# Write a function median_rainfall to find the median amount of rainfall for the days on which it rained.

# Note: You may assume it rained on at least one of the days.

In [44]:
import pandas as pd
import numpy as np

rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], "Inches" : [2, 1.2, 0.9, 0.8, 1, 0, 1.5]}

df_rain = pd.DataFrame(rainfall)
df_rain

         Day  Inches
0     Monday     2.0
1    Tuesday     1.2
2  Wednesday     0.9
3   Thursday     0.8
4     Friday     1.0
5   Saturday     0.0
6     Sunday     1.5

In [45]:
# using np.median

def med_rain_np(df: pd.DataFrame):
    return np.median([inch for inch in df.Inches if inch != 0])

med_rain_np(df_rain)

1.1

In [46]:
#  without np.median

def med_rain(df: pd.DataFrame):
    sorted_df = sorted([inch for inch in df.Inches if inch != 0])
    print(sorted_df)
    len_df = len(sorted_df)
    mid = len_df // 2
    if len_df % 2 == 1: # odd length
        return sorted_df[mid]
    else: # even length
        return (sorted_df[mid] + sorted_df[mid-1]) / 2
        

med_rain(df_rain)

[0.8, 0.9, 1.0, 1.2, 1.5, 2.0]

1.1